site-posts {
  display: block;
  width: 500px;
  margin: 1rem auto;
}

site-posts .post {
  margin-bottom: 2rem;
}

site-posts .post .timestamp {
  font-size: 12px;
  font-family: sans-serif;
  color: rgba(0,0,0,.5);
  margin-bottom: 0.2rem;
}