site-info {
  display: block;
  text-align: center;
  margin: 2em;
}

site-info .thumb {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

site-info .links {
  font-family: sans-serif;
  font-size: 14px;
}

site-info .welcome span {
  font-family: monospace;
  border: 1px solid #ddd;
  background: #eee;
  padding: 2px 5px;
}