site-profile {
  display: block;
  text-align: center;
  margin: 2em;
}

site-profile .thumb {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

site-profile .links {
  font-family: sans-serif;
  font-size: 14px;
}